body {
  background-color: lavender;
}

.list-group list-group-flush mt-2 {
  background-color: lightgrey;
}

.card mb-3 {
  background-color: lightgrey;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.idol {
  margin-top: 50%
}
.bg-warning {
    background-color: lavender!important;
}
